
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="column side" style="background-color:#aaa;">Nav-bar</div>
<div class="column middle" style="background-color:#bbb;">Column</div>
<div class="column side" style="background-color:#ccc;">Column</div>

